.score{
    text-align: center;
 
}

.information-title{
    font-size: 23px;
    margin-bottom: 17px;
    text-decoration: underline;
}

.container-next-player-icon{
    background: #007bff;
    border-radius: 4px;
    padding: 3px;
    color: white;
    width: 36px;
    margin-right: auto;
    margin-left: auto;
}

.win-message{
    color: #505b5d;
    background: #e8e8e8;
    padding: 12px;
    font-size: 23px;
    border-radius: 6px;
    margin-bottom: 15px;
}

.container-champion{
    background: #dcd8d8;
    padding: 11px;
    border-radius: 4px;
    width: 180px;
    margin-right: auto;
    margin-left: auto;
}