.square{
    float: left;
    background: #007bff;
    border: 3px solid;
    width: 86px;
    height: 86px;
    color: white;
    font-size: 26px;
    text-align: center;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 8px;
    position: relative;
}

.square > div {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.game-row{
    clear: both;
}

.board{
    display: table;
    margin: 0 auto;
    border: 1px dashed #bbbbbb;
    padding: 10px;
}

.clear-icon > svg{
    cursor: pointer;
    margin-bottom: 10px;
}